*,
*::before,
*::after {
  box-sizing: border-box;
}
html,
body {
  background-color: #020e26;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  margin: 0;
}
#player {
  position: fixed;
  min-width: 100%;
  min-height: 100%;
}
.container {
  display: flex;
  justify-content: center;
  position: fixed;
  background: rgba(0, 0, 0, 0.6);
  height: 100%;
  width: 100%;
}
.content {
  display: flex;
  flex-direction: column;
  width: 992px;
  height: 100%;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 96px;
}
.navbar .logo {
  font-size: 28px;
  font-weight: 300;
  letter-spacing: 4px;
  text-transform: uppercase;
}
.navbar ul {
  list-style-type: none;
  display: flex;
  gap: 24px;
}
.navbar ul li {
  font-weight: 300;
}
.navbar ul li .icon {
  line-height: 0.9;
  font-weight: 300;
}
.navbar ul li a {
  color: #ffffff;
  text-decoration: none;
}
.headline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  padding-bottom: 96px;
}
.headline h2 {
  font-size: 64px;
  font-weight: 300;
  text-transform: uppercase;
  margin: 0 0 16px 0;
  max-width: 512px;
}
.headline p {
  font-weight: 300;
  line-height: 1.5;
  max-width: 512px;
}
.headline .buttons {
  margin-top: 32px;
}
.headline .buttons a {
  color: #ffffff;
  text-decoration: none;
  text-transform: capitalize;
  margin-right: 24px;
}
.headline .buttons a.get-started {
  padding: 12px 24px;
  border: 1px solid #ffffff;
  border-radius: 0 16px;
}
